{% load static %}

<div class="header-top black-bg d-none d-sm-block">
    <div class="container">
        <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="header-info-left">
                    <ul>
                        <li class="title"><span class="flaticon-energy"></span> trending-title</li>
                        <li>Class property employ ancho red multi level mansion</li>
                    </ul>
                </div>
                <div class="header-info-right">
                    <ul class="header-date">
                        <li><span class="flaticon-calendar"></span> +880166 253 232</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-mid gray-bg">
    <div class="container">
        <div class="row d-flex align-items-center">
            <!-- Logo -->
            <div class="col-xl-3 col-lg-3 col-md-3 d-none d-md-block">
                <div class="logo">
                    <a href="{% url 'news:index' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9">
                <div class="header-banner f-right ">
                    <img src="{% static 'assets/img/gallery/header_card.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>