{% load static %}

<div class="about-area2 gray-bg pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Trending Tittle -->
                <div class="about-right mb-90">
                    <div class="about-img">
                        <img src="{{ news.get_image }}" alt="">
                    </div>
                    <div class="heading-news mb-30 pt-30">
                        <h3>{{ news.title }}</h3>
                    </div>
                     <div class="about-prea">
                        {% autoescape off %}
                            <p class="about-pera1 mb-25">
                                {{ news.content|linebreaks }}
                            </p>
                        {% endautoescape %}

                    </div>
                    <div class="social-share pt-30">
                        <div class="section-tittle">
                            <h3 class="mr-20">Share:</h3>
                            <ul>
                                <li><a href="#"><img src="{% static 'news/assets/img/news/icon-ins.png' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'news/assets/img/news/icon-fb.png' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'news/assets/img/news/icon-tw.png' %}" alt=""></a></li>
                                <li><a href="#"><img src="{% static 'news/assets/img/news/icon-yo.png' %}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>{{ news.comment_set.count }} Comments</h4>
                    {% for comment in news.comment_set.all %}
                    	<div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{% static 'news/assets/img/comment/comment_1.png' %}" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        {{ comment.content }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <span>{{ comment.user.get_full_name }}</span>
                                            </h5>
                                            <p class="date">{{ comment.created_at|date:"M d, Y" }} {{ comment.created_at|time:"H:i" }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- From -->
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-contact contact_form mb-80" action="{% url 'news:comment' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="news_id" value="{{ news.id }}" hidden>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control error" id="name" type="text"
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Enter your name'"
                                               placeholder="Enter your name"
                                               value="{{ request.user.get_full_name }}"
                                               disabled
                                        >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control error" id="email" type="email"
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Enter email address'"
                                               placeholder="Email"
                                               value="{{ request.user.email }}"
                                               disabled
                                        >
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100 error" name="content" id="message" cols="30"
                                                  rows="5" onfocus="this.placeholder = ''"
                                                  onblur="this.placeholder = 'Enter Message'"
                                                  placeholder="Enter Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="btn">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Flow Socail -->
                <div class="single-follow mb-45">
                    <div class="single-box">
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#"><img src="{% static 'news/assets/img/news/icon-fb.png' %}" alt=""></a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>Fans</p>
                            </div>
                        </div>
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#"><img src="{% static 'news/assets/img/news/icon-tw.png' %}" alt=""></a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>Fans</p>
                            </div>
                        </div>
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#"><img src="{% static 'news/assets/img/news/icon-ins.png' %}" alt=""></a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>Fans</p>
                            </div>
                        </div>
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#"><img src="{% static 'news/assets/img/news/icon-yo.png' %}" alt=""></a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>Fans</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Poster -->
                <div class="news-poster d-none d-lg-block">
                    <img src="{% static 'news/assets/img/news/news_card.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>