{% load static %}

<div class="trending-area fix pt-25 gray-bg">
    <div class="container">
        <div class="trending-main">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Top -->
                    <div class="slider-active">
                        {% for category in categories %}
                            {% with category.last_news as news %}
                                {% if news %}
                                    <!-- Single -->
                                    <div class="single-slider">
                                        <div class="trending-top mb-30">
                                            <div class="trend-top-img">
                                                <img src="{{ news.get_image }}" alt="" width="100%"
                                                     height="540px">
                                                <div class="trend-top-cap">
                                                <span class="bgr" data-animation="fadeInUp" data-delay=".2s"
                                                      data-duration="1000ms">{{ category.title }}</span>
                                                    <h2>
                                                        <a href="{% url 'news:latest_news' %}" data-animation="fadeInUp"
                                                           data-delay=".4s"
                                                           data-duration="1000ms">
                                                            {{ news.title|truncatechars:50 }}
                                                        </a>
                                                    </h2>
                                                    <p data-animation="fadeInUp" data-delay=".6s"
                                                       data-duration="1000ms">
                                                        {{ news.author }}
                                                        - {{ news.created_at|time:"H:i" }} {{ news.created_at|date:"M d, Y" }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single -->
                                {% endif %} 
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Right content -->
                <div class="col-lg-4">
                    <!-- Trending Top -->
                    <div class="row">
                        {% for news in trending_newses %}
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="{{ news.get_image }}" alt="">
                                        <div class="trend-top-cap trend-top-cap2">
                                            <span class="bgb">{{ news.category.title }}</span>
                                            <h2>
                                                <a href="{% url 'news:latest_news' %}">
                                                    {{ news.title|truncatechars:25 }}
                                                </a>
                                            </h2>
                                            <p>{{ news.author }}
                                                - {{ news.created_at|time:"H:i" }} {{ news.created_at|date:"M d, Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
